<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 100px">
  <div nz-col class="gutter-row" [nzSpan]="7"></div>
  <div nz-col class="gutter-row" [nzSpan]="10">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton" style="width: 100%">
      <input type="text" nz-input placeholder="Find Our Amazing Products!"/>
    </nz-input-group>
  </div>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch>Search Now</button>
  </ng-template>
  <div nz-col class="gutter-row" [nzSpan]="7"></div>
</div>

<nz-carousel nzAutoPlay style="height: 400px;margin-top: 10px;margin-bottom: 25px">
  <div nz-carousel-content *ngFor="let index of array">
    <h3>{{ index }}</h3>
  </div>
</nz-carousel>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="!loading">
  <nz-divider nzText="Popular Products" nzOrientation="left"></nz-divider>
  <div nz-col class="gutter-row" [nzSpan]="4" *ngFor="let item of items">
    <app-product-card [item]="item"></app-product-card>
  </div>
</div>
<div style="text-align: center;align-items: center;justify-content: center;margin-top: 25%" *ngIf="loading">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
