<ul nz-menu nzMode="horizontal">
  <div nz-row>
    <div nz-col nzSpan="6">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item>
          <div nz-row>
            <div nz-col nzSpan="8">
              <nz-avatar [nzShape]="'square'" [nzIcon]="'dingtalk'">
              </nz-avatar>
            </div>
            <div nz-col nzSpan="8" style="padding-top: 9px">
              <h4 nz-typography>CLOVER_CORE_NG</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="10">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item>
          <i nz-icon nzType="fall"></i>
          Flash Sale
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="trademark-circle"></i>
          Brands
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="gift"></i>
          Gifts
        </li>
        <li nz-submenu nzTitle="Categories" nzIcon="appstore">
          <ul>
            <li nz-menu-group>
              <ul *ngFor="let cate of categories" style="width: 100%">
                <li nz-menu-item>{{cate.name}}</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="2">
    </div>
    <div nz-col nzSpan="6">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item>
          <nz-badge *ngIf="cartItems != undefined" [nzCount]="cartItems.length" routerLink="/cart">
            <nz-avatar [nzShape]="'square'" [nzIcon]="'shopping-cart'">
            </nz-avatar>
          </nz-badge>
          <nz-avatar *ngIf="cartItems == undefined" [nzShape]="'square'" [nzIcon]="'shopping-cart'">
          </nz-avatar>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="primary" nzGhost>
            Sign In Now
            <i nz-icon nzType="login"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</ul>
