<div class="inner-box glow-button" style="text-align: center; cursor: pointer">
  <nz-card style="width:100%;margin-top: 2%" [nzCover]="coverTemplate">
    <nz-card-meta nzTitle="{{item.name}}"></nz-card-meta>
    <h4 nz-typography style="color: #1890ff;margin-top: 10px">$ {{item.price}}</h4>
    <button nz-button nzType="primary" nzBlock (click)="addToCart(item)">Add To Cart</button>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"/>
  </ng-template>
</div>
