<nz-layout class="layout">
  <nz-header>
    <app-top-nav></app-top-nav>
  </nz-header>
  <nz-content>

    <div style="margin: 20px;">
      <router-outlet></router-outlet>
    </div>
    <nz-footer>Clover Ng Design Demo ©2020 Implement By ***</nz-footer>
  </nz-content>
</nz-layout>

