<nz-breadcrumb nzSeparator=">" style="margin-top: 100px">
  <nz-breadcrumb-item routerLink="/home">
    <a>
      <i nz-icon nzType="home"></i>
      <span> Home</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Shopping Cart</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-divider nzOrientation="left" nzText="Shopping Cart" style="margin-top: 10px"></nz-divider>
<nz-empty
  nzNotFoundImage="../assets/cart.svg"
  [nzNotFoundContent]="contentTpl"
  [nzNotFoundFooter]="footerTpl"
  *ngIf="listOfData.length<1"
  style="margin-top: 100px">
  <ng-template #contentTpl>
        <span style="margin-top: 20px">
          <span nz-typography><kbd>Your Cart Is Empty!</kbd></span>
        </span>
  </ng-template>
  <ng-template #footerTpl>
    <button nz-button nzType="primary" routerLink="/home">View Our Products</button>
  </ng-template>
</nz-empty>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="listOfData.length>0">
  <div nz-col class="gutter-row" [nzSpan]="16">
    <div class="inner-box">
      <nz-table #headerTable [nzData]="listOfData" [nzPageSize]="50" [nzScroll]="{ y: '240px' }">
        <thead>
        <tr>
          <th nzWidth="300px">Product</th>
          <th nzWidth="100px">Quantity</th>
          <th nzWidth="100px">Price</th>
          <th>Sub Total</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of headerTable.data; let indexOfelement=index;">
          <td>{{ data.name }}</td>
          <td>{{ data.qty }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.sub }}</td>
          <td>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
              <div nz-col class="gutter-row" [nzSpan]="8">
                <button nz-button nzType="default" [nzSize]="'default'" (click)="removeQty(indexOfelement)"><i nz-icon
                                                                                                               nzType="minus-square"></i>
                </button>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="8">
                <button nz-button nzType="primary" [nzSize]="'default'" (click)="addQty(indexOfelement)"><i nz-icon
                                                                                                            nzType="plus-square"></i>
                </button>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="8">
                <button nz-button nzType="primary" [nzSize]="'default'" nzDanger (click)="removeItem(data)"><i nz-icon
                                                                                                               nzType="delete"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="8">
    <div class="inner-box">
      <nz-card style="width:100%; margin: 10px">
        <nz-card style="width:100%;" nzTitle="Order Summery" [nzExtra]="extraTemplate">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h5 nz-typography>Sub Total</h5>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h5 nz-typography>{{subTotal}} USD</h5>
            </div>
            <nz-divider></nz-divider>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h5 nz-typography>Estimate Shipping & Handling</h5>
              <h6 nz-typography>Standard: FREE Arrives 15-30 days</h6>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h5 nz-typography>{{shipping}} USD</h5>
            </div>
            <nz-divider></nz-divider>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h5 nz-typography>Tax</h5>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h5 nz-typography>{{tax}} %</h5>
            </div>
            <nz-divider></nz-divider>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h5 nz-typography>Coupon </h5>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h5 nz-typography>0000</h5>
            </div>
            <nz-divider></nz-divider>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h4 nz-typography>Total </h4>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <h4 nz-typography>{{total}} USD</h4>
            </div>
            <button nz-button nzType="primary" nzBlock style="margin-top: 10px"
            (click)="checkout()">Checkout</button>
          </div>
        </nz-card>
        <ng-template #extraTemplate>
          <a nz-popconfirm [nzPopconfirmTitle]="iconTpl2" nzPopconfirmPlacement="left"
             [nzIcon]="iconTpl">Have a coupon code ?</a>
          <ng-template #iconTpl>
            <i nz-icon nzType="question-circle-o" style="color: red;"></i>
          </ng-template>
          <ng-template #iconTpl2>
            <span nz-typography><code>Enter Your Coupon Code!</code></span>
            <br/>
            <br/>
            <input nz-input placeholder="Coupon Code"/>
          </ng-template>
        </ng-template>
      </nz-card>
    </div>
  </div>
</div>
