<div style="margin-top: 15%;margin-left: 42%;margin-right: 10%">
  <img nz-image width="200px" nzSrc="../assets/animation_500_ksn100kr.gif" alt="" />
  <h3 nz-typography style="margin-left: -35px">Your Order Is On The Way</h3>
  <button nz-button nzType="primary" style="margin-left: 30px" routerLink="/home">BACK TO HOME</button>
</div>
