<nz-breadcrumb nzSeparator=">" style="margin-top: 100px">
  <nz-breadcrumb-item routerLink="/home">
    <a>
      <i nz-icon nzType="home"></i>
      <span> Home</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/cart">
    <a>
      <i nz-icon nzType="shopping-cart"></i>
      <span> Shopping Cart</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Check Out</nz-breadcrumb-item>
</nz-breadcrumb>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="12">
    <nz-divider nzOrientation="left" nzText="CUSTOMER INFO" style="margin-top: 20px"></nz-divider>
    <nz-input-group nzAddOnBeforeIcon="mail">
      <input type="text" nz-input [(ngModel)]="email" style="width: 50%"
             placeholder="Email Address" (focusout)="search_customer()" name="email"/>
    </nz-input-group>
    <nz-input-group nzAddOnBeforeIcon="phone" style="margin-top: 10px">
      <input type="text" nz-input [(ngModel)]="phone" style="width: 50%"
             placeholder="Phone" name="phone"/>
    </nz-input-group>
    <nz-divider nzOrientation="left" nzText="SHIPPING ADDRESS" style="margin-top: 50px"></nz-divider>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" [nzSpan]="12">
        <input type="text" nz-input [(ngModel)]="fname"
               placeholder="First Name" name="fname"/>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <input type="text" nz-input [(ngModel)]="lname"
               placeholder="Last Name" name="lname"/>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12" style="margin-top: 10px">
        <input type="text" nz-input [(ngModel)]="adl1"
               placeholder="Address Line 01" name="adl1"/>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12" style="margin-top: 10px">
        <input type="text" nz-input [(ngModel)]="adl2"
               placeholder="Address Line 02" name="adl2"/>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12" style="margin-top: 10px">
        <input type="text" nz-input [(ngModel)]="city"
               placeholder="City" name="city"/>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12" style="margin-top: 10px">
        <input type="text" nz-input [(ngModel)]="state"
               placeholder="State" name="state"/>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12" style="margin-top: 10px">
        <input type="text" nz-input [(ngModel)]="pcode"
               placeholder="Postal Code" name="pcode"/>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12" style="margin-top: 10px">
        <input type="text" nz-input [(ngModel)]="country"
               placeholder="Country" name="country"/>
      </div>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <nz-card nzHoverable style="width:70%;margin-left: 30%;margin-top: 30px">
      <nz-divider nzOrientation="left" nzText="PAYMENT" style="margin-top: 20px"></nz-divider>
      <form nz-form class="login-form">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your card number!">
            <nz-input-group nzPrefixIcon="credit-card">
              <input type="text" nz-input placeholder="Card Number" name="card"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <div nz-col class="gutter-row" [nzSpan]="11">
            <nz-form-control nzErrorTip="Expire Month Required!">
              <nz-input-group nzPrefixIcon="calendar">
                <input type="text" nz-input placeholder="Expire Month" name="exp_month"/>
              </nz-input-group>
            </nz-form-control>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="2"></div>
          <div nz-col class="gutter-row" [nzSpan]="11">
            <nz-form-control nzErrorTip="Expire year required!">
              <nz-input-group nzPrefixIcon="calendar">
                <input type="text" nz-input placeholder="Expire Year" name="exp_year"/>
              </nz-input-group>
            </nz-form-control>
          </div>
        </nz-form-item>
        <nz-form-item>
          <div nz-col class="gutter-row" [nzSpan]="11">
            <nz-form-control nzErrorTip="CVV Required!">
              <nz-input-group nzPrefixIcon="safety">
                <input type="text" nz-input placeholder="CVV" name="cvv"/>
              </nz-input-group>
            </nz-form-control>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="2"></div>
          <div nz-col class="gutter-row" [nzSpan]="11">
            <label nz-checkbox [(ngModel)]="checked">Save Card Information</label>
          </div>
        </nz-form-item>
      </form>
      <button nz-button nzType="primary" nzBlock (click)="placeOrder()">PURCHASE NOW</button>
      <nz-progress [nzPercent]="complete" [nzSteps]="20" nzStrokeColor="#1890ff" style="margin-top: 10px;"
      *ngIf="sending_order"></nz-progress>
    </nz-card>
    <div style="margin-top: 10px">
      <h4>Test Card (NOTE: Please use this card for the testing...)</h4>
      <h5>Number : 6011361000006668</h5>
      <h5>Exp_month : 12</h5>
      <h5>Exp_year : 2021</h5>
      <h5>Cvv : 123</h5>
      <h5>Brand : DISCOVER</h5>
    </div>
  </div>
</div>
